.header{
    padding: 5xp, 20xp;
    background: lavenderblush;
}

.title{
    color:lightcoral;
    text-decoration: none;
}

.login, .register{
    float: right;
    text-decoration: none;
    padding-top: 15px;
    color: lightcoral;
}