.navbar{
  padding-top: 10px;
  background: rgb(30, 30, 30);
  max-width: 100%;
  opacity: 95%;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.nav:hover{
  color: rgb(172, 137, 73);
}

.nav-item{
  padding-top: 1%;
}

.search{
  text-align: right;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.btn{
  cursor: pointer;
}

.success {
    border-color: rgb(172, 137, 73);
    color: rgb(172, 137, 73);
  }
  
.success:hover {
  background-color: rgb(172, 137, 73);
  color: black;   
}

.form-control{
  background-color: rgb(190, 190, 190);
  height: 30px;
}

