.jumbotron{
  background: rgb(30, 30, 30);  
  opacity: 95%; 
  padding-top: 2%;
  padding-bottom: 5%;
  margin-top: 140px;  
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  }

.container{
  size: 50%;
}

.lead, .my{
  text-align: center;
  color: rgba(189, 189, 189, 0.897);  
   font-size-adjust: 5px;
}

.btn{
  cursor: pointer;
}

.success {
  border-color: rgb(172, 137, 73);
  color: rgb(172, 137, 73);
}
  
.success:hover {
  background-color: rgb(172, 137, 73);
  color: black;   
}

.button{
    text-align: center;
}