.jumbotron{
    box-sizing: border-box;
    background: rgb(30, 30, 30);  
    opacity: 95%; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 140px;  
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .container{
      size: 50%;
  }

.display{
    font-size: 60px; 
    text-align: center;
    color: rgb(168, 81, 78);   
}

.lead, .my{
    text-align: center;
    color: rgba(189, 189, 189, 0.897);   
}

.btn{
    background-color: rgb(172, 137, 73);
}

.button{
    text-align: center;
}