<div class="col-md-6">
    <h2> User Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Username</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
            </tr>
          </thead>
        <tbody>
            <tr *ngFor="let user of users">
              <td><span class="badge">{{user.Username}}</span> {{user.username}}</td>
              <td><span class="badge">{{user.FirstName}}</span> {{user.firstName}}</td>
              <td><span class="badge">{{user.LastName}}</span> {{user.lastName}}</td>
              <td><span class="badge">{{user.Email}}</span> {{user.email}}</td>
              <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
            </tr>
        </tbody>
    </table>
    </div>
