<div class="container">
<div class="jumbotron">
  <table class="table table-striped" *ngIf="movies">
    <tbody>
    <tr class="results table-striped" *ngFor="let movie of movies">
      <td><img [src]="'http://image.tmdb.org/t/p/w92' + movie.poster_path" height="150%" /></td>
      <td>{{movie.title}}</td>
      <td>{{movie.overview}}</td>
      <td>{{movie.release_date}}</td>
      <div class= "button">
        <td><button class="btn btn-default" (click)="addMovie(movie)"> seenIt</button></td>      
      </div>
    </tr>
  </tbody>
  </table>
</div>
</div> 


    
