.results{
    font-size: 15px;
    padding: 80px;
    color:white;
}

.jumbotron{
    box-sizing: border-box;
    background: rgb(30, 30, 30);  
    opacity: 90%; 
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-top: 140px;  
    margin-bottom: 30px;
    color:white;
  }

.form-group{
    text-align: center;
}

.btn{
    background-color: rgb(172, 137, 73);
    margin-top: 80%;
}

.button{
    text-align: center;
}

.results{
    text-align: justify;
}