.jumbotron{
    box-sizing: border-box;
    background: rgb(30, 30, 30);  
    opacity: 90%; 
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-top: 140px;  
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
  }

.title{
    font-size: 50px; 
    text-align: center;
    color: rgb(168, 81, 78);   
}

.form-group{
    text-align: center;
}

.btn{
    color: rgb(172, 137, 73);
    border: 2px solid rgb(172, 137, 73);
    cursor: pointer;
  }
  
.success {
    border-color: rgb(172, 137, 73);
    color: rgb(172, 137, 73);
}
    
.success:hover {
    background-color: rgb(172, 137, 73);
    color: black;   
}
  

.button{
    text-align: center;
}
