<h1><a class="title">My movies</a></h1>

  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th>Release Date</th>
      <th>Poster</th>
      <th></th>
    </tr>
    <tbody>
    <tr class="results table-striped" *ngFor="let movie of movies">
      <td>{{movie.title}}</td>
      <td>{{movie.overview}}</td>
      <td>{{movie.release_date}}</td>
      <td><img [src]="'http://image.tmdb.org/t/p/w92' + movie.poster_path" height="180px" width="130px"/></td>
      <td><button class="btn btn-danger"> Delete from list</button></td>
    </tr>
  </tbody>
  </table>
    
    
    
