<h1><a class="title">My movies</a></h1>
    <tr class="results table-striped" *ngFor="let movie of movies">

      <div class="card" style="width: 12rem;">
        <img class="card-img-top" [src]="'http://image.tmdb.org/t/p/w92' + movie.poster_path" height="300px" width="20px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{movie.release_date}}</h6>
          <p class="card-text"> </p>
          <td><button class="btn btn-danger"> Delete from list</button></td>
        </div>
      </div>
    </tr>

    
    
    
