.results{
  padding: 2px;
}

.card{
    margin-left: 40%;
    margin-right: 50%;
    background: rgb(30, 30, 30);
    opacity: 90%;
    width: 8rem;
    height: 19rem;
    display: grid;
    text-align: center;
    color: rgb(119, 119, 119);

}

.view{
  min-width: 80px;
  min-height: 150px;
  padding-top: 10%;
}

.card-title{
  font-size: 17px;
}

.card-subtitle{
  font-size: 14px;
}

.card-text{
  min-height: 100px;
}

.btn{
  text-align: center;
  color: rgb(172, 137, 73);
  border: 2px solid rgb(172, 137, 73);
  cursor: pointer;
  margin-bottom: 10%;
  font-size: 15px;
  }
  
.success {
    border-color: rgb(172, 137, 73);
    color: rgb(172, 137, 73);
    }
    
  .success:hover {
  background-color: rgb(172, 137, 73);
  color: black;   
  }

