@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}

*:before, *:after {
 box-sizing: border-box;
}

html, body {
 height: 100%;
 position: relative;
}

html {
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body { 
  background: url("./assets/wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
 }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }