<img class="background-image" [src]="'http://image.tmdb.org/t/p/original' + movie.backdrop_path" style="background-color: black;"/>

  <div class="button">
    <a class="btn success" (click)="cancel()">Go Back</a>
  </div>

  <div class="container">    
      <tr class="display table">
        <td class=cl1>
          <img class="image" [src]="'http://image.tmdb.org/t/p/w780' + movie.poster_path" height="40%"/><br><br>
        <td class="cl2"> 
          <h1 class="title">{{movie.title}}</h1>
          <p>Original Title: {{movie.original_title}}</p>
            <p>Release Date: {{movie.release_date}}
            <br>Original Languague: {{movie.original_language}}
            <br>Popularity: {{movie.popularity}}</p>
          <p>{{movie.overview}}</p>
        </td>
      </tr>
  </div>